@font-face {
  font-family: 'Title';
  src: url('../font/ofont.ru_Old\ Classic.woff2');
  font-style: normal;
}

@font-face {
  font-family: 'Text';
  src: url('../font/ofont.ru_Trajan.woff2');
  font-style: normal;
}

body {
  min-width: 290px;
  overflow-x: hidden;
  font-family: 'Text';
}

.container {
  max-width: 620px;
  margin: 0 auto;
  padding: 0 10px;
  height: 100%;
}

img {
  max-width: 100%;
}

.header {
  max-width: 620px;
  height: 100svh;
  /* height: -webkit-fill-available; */
  margin: 0 auto;
  background-image: url(../images/header-bg1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.header::after {
  content: '';
  background-color: rgb(0, 0, 0, .2);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.header__inner {
  padding: 70px 0 65px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: #fff;
  height: 100%;
  z-index: 5;
}

.title__inner {
  z-index: 5;
  width: 370px;
  flex-direction: column;
  display: flex;
  gap: 20px;
  align-items: center;
}

.timer__wrapper {
  z-index: 5;
  width: 100%;
}

.title {
  margin: 0 auto;
  font-family: 'Title';
  font-size: 75px;
  line-height: 1;
  color: #fff;
  letter-spacing: 15px;
  animation: fadeIn 1s ease-out 1.2s both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.title__a {
  position: relative;
}

.title__a::after {
  content: '';
  background-image: url(../images/ampersand.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 234px;
  width: 230px;
  position: absolute;
  top: -35px;
  left: 55%;
  transform: translateX(-50%);
  z-index: -1;
  opacity: .3;
}

.timer__data {
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.timer__box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.timer__inner {
  display: none;
  animation: fadeIn 1s ease-out both;
}

.timer__data{
  font-size: 22px;
}

.timer__item {
  font-size: 20px;
}

.lds-heart {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
  margin-top: 50px;
}

.lds-heart div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: #fff;
  animation: lds-heart 3.2s ease-out;
  animation-fill-mode: forwards;
}

.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: #fff;
}

.lds-heart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}

.lds-heart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}

@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }

  5% {
    transform: scale(1.1);
  }

  39% {
    transform: scale(0.85);
  }

  45% {
    transform: scale(1);
  }

  60% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(0.9);
    opacity: 0;
  }
}

.wrapper {
  position: relative;
  max-width: 620px;
  margin: 0 auto;
  overflow: hidden;
}

.wrapper::after {
  content: '';
  background-image: url(../images/main-bg.jpg);
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: -2;
}

.main__info {
  text-align: center;
  position: relative;
  margin-top: -40%;
}

.top__img {
  transform: translateY(-26%);
  position: relative;
  z-index: -1;
  max-width: 620px;
  width: 100%;
}

.bottom__img {
  transform: rotateX(180deg) rotateY(180deg) translateY(45%);
  z-index: -1;
  position: relative;
  width: 100%;
}

.text__inner {
  margin-top: -40%;
}

.text {
  max-width: 400px;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  margin: 0 auto 15px;
}

.text-mod {
  font-size: 25px;
}

.map {
  position: relative;
  text-align: center;
  margin-top: -34%;
}

.footer {
  padding: 40px 0 60px;
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
}
.footer__title {
  margin-bottom: 20px;
  font-weight: 700;
}

.footer__inner {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.footer__item-title {
  margin-bottom: 20px;
  font-weight: 700;
}

.svg {
  width: 48px;
  height: 48px;
}

.footer__list {
  display: flex;
  gap: 50px;
}



@media (max-width: 400px) {
  .timer__box {
    justify-content: space-between;
  }


}

@media (max-width: 380px) {
  .title{
    font-size: 65px;
  }

  .text {
    font-size: 13px;
  }

  .text-mod {
    font-size: 25px;
  }

  .timer__item {
    font-size: 16px;
  }

  .timer__data {
    font-size: 19px;
  }

  .footer{
    font-size: 20px;
  }
}